<app-header></app-header>
<form class="p-4 cont-pagina">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName">Nombre</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Nombre">
      </div>
      <div class="form-group col-md-6">
        <label for="inputApellido">Apellido</label>
        <input type="text" class="form-control" id="inputApellido" placeholder="Apellido">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputId">Número DNI</label>
        <input type="text" class="form-control" id="inputId" placeholder="Numero de Identificación Nacional">
      </div>
      <div class="form-group col-md-6">
        <label for="inputTelefono">Telefono</label>
        <input type="text" class="form-control" id="inputTelefono" placeholder="Número Telefonico">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail1">Correo</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Dirección</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Colonia, barrio o caserio.">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Ciudad</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Departamento</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>Francisco Morazán</option>
          <option>San Pedro Sula</option>
          <option>Valle</option>
          <option>Comayagua</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputPlaca">Placa</label>
        <input type="text" class="form-control" id="inputPlaca" placeholder="Placa del Automotor">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Acepto terminos y condiciones de uso.
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-secondary">Registrar</button>
  </form>