<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-2 pl-1 pr-1 fixed-bottom">
  <!-- Footer Elements -->
  <div class="container">
    <!-- option buttons -->
    <div class="container-fluid seleccion">
      <ul class="row justify-content-between list-unstyled list-inline">
        <li class="row rounded-circle">
          <a class="text-light" href="http://localhost:4200/inicio"><i class="fas fa-home fa-2x"> </i></a><br/>
        </li>
        <li class="row rounded-circle">
          <a class="text-light" href="http://localhost:4200/pedidosDisponibles"><i class="fas fa-shipping-fast fa-2x"></i></a><br/>
        </li>
        <li class="row rounded-circle logo-bar">
          <img class="rounded-circle" src="../../assets/img/miniatura.png" alt="" />
        </li>
        <li class="row active rounded-circle">
          <a class="text-light" href="http://localhost:4200/perfil"><i class="fas fa-user-circle fa-2x"></i></a><br/>
        </li>
        <li class="row rounded-circle">
          <a class="text-light" href="http://localhost:4200/pedidosProgreso"><i class="fas fa-cog fa-2x"> </i></a><br />
        </li>
      </ul>
    </div>
    <!-- option buttons -->
  </div>
  <!-- Footer Elements -->
</footer>
<!-- Footer -->