<!--Navbar-->
<nav class="navbar header-nav navbar-expand-lg fixed-top">
  <h3 class="titulo">Fastilery</h3>
  <button
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars btn-barra"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="input-group mb-2 mt-2">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar productos"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      />
      <div class="input-group-append">
        <button class="btn btn-buscar" type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><i class="fas fa-share-alt"></i> Redes Sociales</li>
      <li class="nav-item dropdown">
        <span
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-users"></i> Sobre Nosotros
        </span>
        <div
          class="dropdown-menu"
          aria-labelledby="navbarDropdown"
          style="background-color: #840b0b"
        >
          <a class="dropdown-item" href="#">Misión</a>
          <a class="dropdown-item" href="#">Visión</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Forma Parte de nuestra comunidad</a>
        </div>
      </li>
      <li class="nav-item">
        <i class="fas fa-cogs"></i> Ayuda y configuraciones de pagina
      </li>
    </ul>
  </div>
</nav>
