.btn-barra{
    font-size: 1.5em;
    color: white !important;
    border: none;
}

.btn-buscar {
    background-color: #840B0B;
    color: white;
}

.titulo {
    font-family: cursive;
}

.header-nav{
    background-color: #DE0613;
    color: white !important;
}

.header-nav a{
    color: white !important;
}

.seleccion ul li{
    color: white !;
    transition: all 4s;
}

.seleccion ul li{
    color: white;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
}

.seleccion ul li i{
    font-size: 2em;
}

footer{
    background-color: #840B0B;
    
}

.active-opt {
    color: white !important;
    background-color: #4e0202;
}

.estilo-modal{
    background-color: black !important;
    color: white !important;
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0.74);
}

.estilo-modal button{
    border-radius: 15px;
}

.logo-bar img{
    position: absolute;
    bottom: 10px;
    width: 105px !important;
    height: 105px !important;
    background-color: #840B0B;
}

.cont-pagina{
    padding-top: 90px !important;
    padding-bottom: 90px !important;
}

.sesion {
    background-color: #DE0613;
    color: white;
    position: relative;
}