<div class="row text-center sesion vh-100 m-0 p-5" cz-shortcut-listen="true">
    <form class="form-signin centrar">
      <img class="mb-4" src="../../assets/img/Logo Motoristas.png" alt="" width="90" height="90">
      <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
      <div class="pb-3">
            <label for="inputEmail" class="sr-only">Correo Electronico</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      </div>
      <div class="pb-3">
          <label for="inputPassword" class="sr-only">Contraseña</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      </div>
      
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recordar Usuario
        </label><br>
        <a class="btn btn-secondary" href="#">
         ¿Olvidaste tu contraseña?
        </a>
      </div>
      <button class="btn btn-lg btn-buscar btn-block" type="submit"><a class="text-light" href="http://localhost:4200/pedidosDisponibles">Sign in</a></button>
      <button class="btn btn-lg btn-info btn-block" type="submit"><a class="text-light" href="http://localhost:4200/crearMotorista">Sign up</a></button>
      <p class="mt-5 mb-3">© Fastilery Inc. 2021</p>
    </form>
</div>
