<div class="sidebar">
  <div class="logo-container">
    <div class="logo">
      <div class="logo-n"><p class="h1">Fastilery</p></div>
    </div>
  </div>
  <ul class="nav-list">
    <li>
        <button class="btn btn-info" (click)="cerrarSesion()">
          <i class="fas fa-sign-out-alt"></i>
          <span class="">Cerrar Sesión</span>
        </button>
    </li>
    <li>
      <a href="http://localhost:52089/users">
        <i class="fas fa-user-circle"></i>
        <span class="">Usuarios</span>
      </a>
    </li>
    <li>
      <a href="http://localhost:52089/companies">
        <i class="fas fa-user-tie"></i>
        <span class="">Empresas</span>
      </a>
    </li>
    <li>
      <a href="http://localhost:52089/drivers">
        <i class="fas fa-motorcycle"></i>
        <span class="">Motoristas</span>
      </a>
    </li>
    <li>
      <a href="http://localhost:52089/products">
        <i class="fas fa-shopping-cart"></i>
        <span class="">Productos</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fas fa-cog"></i>
        <span class="">Configuracion</span>
      </a>
    </li>
  </ul>
</div>
