<app-header></app-header>

<!--Cuerpo-->

<div class="container-fluid" style="margin-top: 50px">
  <div class="row jumbotron">
    <!--Display de categorias-->

    <!-- <app-categories></app-categories> -->

    <!--Display de empresas-->

    <!-- <app-companies></app-companies> -->

    <!--Display de perfil de empresas-->

    <!-- <app-company-profile></app-company-profile> -->

    <!--Display de producto-->
    <!-- <app-single-product></app-single-product> -->

    <!-- Display de carrito de compras -->
    <!--<app-shopping-cart></app-shopping-cart> -->

    <!--Display de proceso de pago-->
    <!-- <app-cc-process></app-cc-process> -->

    <!--Display de la ubicacion del delivery-->
    <app-delivery-ubication></app-delivery-ubication>


  </div>
</div>

<app-footer></app-footer>
