<div>
  <div class="col-xs-6 col-sm-6 col-md-3" *ngFor="let product of products">
    <figure class="card card-product">
      <div class="img-wrap">
        <img src="{{product.imgURL}}">
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a href="#">{{product.name}}</a></h6>
        <div class="action-wrap">
          <a href="#" class="btn btn-primary btn-sm float-right" (click)="OrdenarProducto(product._id)"> Ordenar </a>
          <div class="price-wrap h5">
            <span class="price-new">HNL {{product.price}}</span>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
</div>
