<div>
  <div class="col-xs-6 col-sm-6 col-md-3">
    <figure class="card card-product">
      <div class="img-wrap">
        <img src="../../../assets/img/producto.jpg">
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a href="#">Nombre del Producto</a></h6>
        <div class="action-wrap">
          <a href="#" class="btn btn-primary btn-sm float-right"> Ordenar </a>
          <div class="price-wrap h5">
            <span class="price-new">HNL Precio</span>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3">
    <figure class="card card-product">
      <div class="img-wrap">
        <img src="../../../assets/img/producto.jpg">
      </div>
      <figcaption class="info-wrap">
        <h6 class="title text-dots"><a href="#">Nombre del Producto</a></h6>
        <div class="action-wrap">
          <a href="#" class="btn btn-primary btn-sm float-right"> Ordenar </a>
          <div class="price-wrap h5">
            <span class="price-new">HNL Precio</span>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
</div>
