<div class="container mb-12" style="margin-bottom: 70px" *ngIf="product">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img" src="{{ product.imgURL }}" />
        <div class="card-img-overlay d-flex justify-content-end"></div>
        <div class="card-body">
          <h4 class="card-title">{{ product.name }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">
            Código: {{ product._id.slice(-6) }}
          </h6>
          <p class="card-text">{{ product.description }}</p>
          <div class="options d-flex flex-fill">
            <div class="input-group mb-1">
              <span class="input-group-text mr-4">Cantidad</span>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="quantity"
                required
              />
            </div>
          </div>
          <br />
          <div class="price text-success text-center">
            <h6 class="card-subtitle mb-2 text-muted">Precio Unitario</h6>
            <h5 class="">HNL {{ product.price }}</h5>
          </div>
        </div>

      </div>

      <div class="buy d-block justify-content-between align-items-center">
        <a disabled="true"
          href="#"
          class="btn btn-danger mt-3 d-block"
          (click)="addShoppintCart(product._id)"
          ><i class="fas fa-shopping-cart"></i> Añadir al Carrito</a
        >
      </div>
    </div>
  </div>
</div>
