    <!--Display de perfil de empresas-->

    <div class="col-xs-12 col-sm-12" *ngIf="empresa">
      <div class="banner">
        <img src="{{empresa.imgBanner}}" alt="" class="img-banner" />
        <img
          src="{{empresa.imgProfile}}"
          alt=""
          class="img-perfil rounded-circle img-thumbnail img-fluid"
        />
      </div>
      <div class="encabezado">
        <h2>{{empresa.name}}</h2>
        <p class="h5">Calificacion:</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span><br />
        <h6>Descripcion</h6>
        <p>{{empresa.description}}
        </p>

        <h3>Productos</h3>
        <br />
      </div>
      <br>
      <br><br>
    </div>
