    <!--Display de perfil de empresas-->

    <div class="col-xs-12 col-sm-12">
      <div class="banner">
        <img src="../assets/img/farmacia 3 banner.jpg" alt="" class="img-banner" />
        <img
          src="../assets/img/farmacia 3.jpg"
          alt=""
          class="img-perfil rounded-circle img-thumbnail img-fluid"
        />
      </div>
      <div class="encabezado">
        <h2>Farmacia Regis</h2>
        <p class="h5">Calificacion:</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span><br />
        <h6>Descripcion</h6>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores quis
          quidem nemo fuga. Et atque voluptas ab culpa aspernatur labore
          consectetur commodi dicta doloremque omnis?
        </p>

        <h3>Productos</h3>
        <br />
      </div>
      <br>
      <app-products></app-products>
      <br><br>
    </div>
