<div class="p-3 rounded cart">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="product-details mr-2">
        <h6 class="mb-0">Carrito de compras</h6>
        <div class="d-flex justify-content-between">
          <span
            >Has añadido {{ totalArticulos }} artículos a tu carrito de
            compra</span
          >
        </div>

        <div
          class="
            d-flex
            justify-content-between
            align-items-center
            mt-3
            p-2
            rounded
          "
        >
          <div class="d-flex flex-row">
            <div class="ml-2">
              <span class="font-weight-bold d-block">Nombre de Producto</span>
            </div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <span class="d-block">Cantidad</span
            ><span class="d-block ml-5 font-weight-bold">Precio</span>
          </div>
        </div>

        <div
          class="
            d-flex
            justify-content-between
            align-items-center
            mt-3
            p-2
            items
            rounded
          "
          *ngFor="let product of products; let i = index"
        >
          <div class="d-flex flex-row">
            <img
              class="rounded"
              src="{{ product['imgURL'] }}"
              width="40"
              height="40"
            />
            <div class="ml-2">
              <span class="font-weight-bold d-block">{{
                product["name"]
              }}</span>
            </div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <span class="d-block">{{ cantidad[i] }}</span
            ><span class="d-block ml-5 font-weight-bold"
              >HNL {{ product["price"] }}</span
            ><a href="#"
              ><i
                (click)="quitarProduct(i)"
                class="fa fa-trash-o ml-3 text-black-50"
              ></i
            ></a>
          </div>
        </div>
      </div>
      <br />
      <div *ngIf="cantidad.length > 0" class="d-flex flex-row align-items-center justify-content-center text-center">
        <button class="btn btn-primary" (click)="procesarCarrito()" (click)="procesarCarrito()">Realizar Pedido</button>
      </div>
    </div>
  </div>
</div>
