<div class="fondo m-auto">
    <nav class="navbar navbar-expand-lg navbar-light text-light">
        <img class="logo-header" src="../../assets/img/Logo Motoristas.png" alt="">
        <div class="btn-group botones-login" role="group" aria-label="Basic example">
            <a href="http://localhost:4200/login"><button type="button" class="btn btn-sesion btn-sm ">Iniciar sesión</button></a>
            <button type="button" class="btn btn-registro btn-sm">Registrarse</button>
        </div>
        
        <button class="navbar-toggler btn-link" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="text-light"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <div class=" botones-login btn-group m-3 mt-2 mt-lg-0 row justify-content-between">
            <button class="btn btn-sesion"><b>Inicio</b></button>
            <button class="btn btn-registro"><b>Quienes somos</b></button>
            <button class="btn btn-sesion"><b>Contactenos</b></button>
          </div>
        </div>
      </nav>

      <div class="container-fluid titulo-landing">  
        <h3><b>Más rápido,<br> imposible</b></h3>
        <img src="../../assets/img/carrusel-1.png" alt="">
        <p><b>Disfuta del servicio de delivery<br> más veloz del país a un clic de distancia.</b></p>  
      </div>

      <div class="container nosotros">
        <i class="fas fa-map-marker-alt fondo-nosotros"></i>
        <div class="row p-3 justify-content-center">
            <div class="align-item-center">
              <h5><b>Acerca de nosotros</b></h5>
            </div>   
        </div>
        <div class="row tarjetas">
          <div class="card mr-0">
            <div class="p-2 pt-3 text-center">
              <i class="far fa-hand-point-up pb-2 fa-3x"></i>
              <p class="card-text"><b>Facil de usar</b></p>
            </div>
          </div>

          <div class="card">
            <div class="p-2 pt-3 text-center">
              <i class="fas fa-map-marker-alt pb-2 fa-3x"></i>
              <p class="card-text"><b>Seguimiento</b></p>
            </div>
          </div>

          <div class="card ml-0">
            <div class="p-2 pt-3 text-center">
              <i class="fas fa-stopwatch pb-2 fa-3x"></i>
              <p class="card-text"><b>Rapidez de entrega</b></p>
            </div>
          </div>
        </div>
    </div>

    <div class="container pt-4">
      <div class="row justify-content-center text-center">
        <div class="card servicio">
          <div class="card-body">
            <div class="">
              <h6>DISPONIBLE EN iOS Y ANDROID</h6>
              <h4><b>Descarga nuestra App</b></h4>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus a nulla iste nemo fuga vitae atque error expedita quae, quos tenetur quod officia, doloribus blanditiis in provident! Dolorem, qui enim.</p>
            </div>
            <div class="">
              <img src="../../assets/img/celular.png" alt="">
            </div>
            
          </div>
        </div>
      </div>
    </div>
</div>