<div class="container-fluid">
  <div class="row">
    <div class="col-6 left d-flex">
      <div class="fondo">
        <p class="h1 mt-12">Fastilery</p>
        <p style="font-size: 32px; color: #fff">
          Donde estes y cuando lo necesites.
        </p>
        <div class="service">
          <div class="super"></div>
          <img src="../../../assets/img/Delivery Service .png" alt="" />
        </div>
      </div>
    </div>
    <div class="col-6 right">
      <div class="fondo2">
        <div class="service2 container">
          <img src="../../../assets/img/Logo 2.png" alt="" /><br /><br />
          <div class="simple-login-container">
            <div class="row">
              <div class="col-md-12 form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre de usuario o correo electronico"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <input
                  type="password"
                  placeholder="Contraseña"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row ">
              <div class="col-md-12 form-group">
                <input
                  type="submit"
                  class="btn btn-block btn-login"
                  placeholder="Enter your Password"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
